system/system/priv-app/LGSettings/LGSettings.apk
system/system/apex/com.android.runtime.release.apex
product/priv-app/Velvet/Velvet.apk
product/priv-app/ContentService/ContentService.apk
product/priv-app/LGCameraApp/LGCameraApp.apk
product/priv-app/LGGallery/LGGallery.apk
