service filehandle-hal-1-0 /product/bin/hw/vendor.lge.hardware.filehandle@1.0-service
    interface vendor.lge.hardware.filehandle@1.0::IFileHandle default
    class hal
    user system
    group system
