service bootanim /system/bin/bootanimation
    class core animation
    user graphics
    group graphics audio system
    # bootanimation depends on libandroidicu in the Runtime APEX.
    # TODO(b/124939955): Remove this dependency on libandroidicu
    updatable
    disabled
    oneshot
    ioprio rt 0
    writepid /dev/stune/top-app/tasks
