#######################################################
# FILE_SYSTEM
#######################################################
on property:product.lge.vold.publicvolume_uuid=*
    setprop vendor.lge.vold.publicvolume_uuid ${product.lge.vold.publicvolume_uuid}

